*{
  box-sizing: border-box;
}

input[type=text], select{
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

button[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 11pt;
  width: 20%;
  position: relative;
}

button[type=submit]:hover {
  background-color: orange;
}
button[type=reset] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 11pt;
  width: 20%;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

button[type=reset]:hover {
  background-color: orange;
}

.cont {
  border-radius: 5px;
  /*background-color: salmon;*/
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .col-25, .col-75, button[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/*input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;*/